/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 nov. 2022, 21:06:20
    Author     : ipaslop262
*/
body{
    margin: 1em;
}
input{
    margin: 1em ;
}

